body {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	background-color:#000;
	color:#c30c00;
}

/*PIXELART*/
img {
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: optimize-contrast;
	image-rendering: pixelated;
	-ms-interpolation-mode: nearest-neighbor;
}

ul{
	padding-left: 0;
}

/*RESPONSIVE*/
.container {
  position: relative;
  width: 95%;
  max-width: 820px;
  margin: 0 auto;
  padding: 0 0px;
  box-sizing: border-box; 
  margin-top: 20px; }
.row {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 340px */
@media (min-width: 340px) {
  .container {
    width: 93%;
    padding: 0; }
}

/* For devices larger than 360px */
@media (min-width: 360px) {
  .container {
    width: 84%;
    padding: 0; }
}

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 75%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 84%; }

  .row{ width: 100%; margin-left: 0; }
}

/*STYLES*/
.header img{
	width: 300px;
	height: auto;
}

.submissions ul li{
	position: relative;
	display: block;
	float: left;
	margin:0;
	/*margin-bottom: -7px;*/
	/*width: 75px;
	height: 75px;*/
	/*UPSCALE*/
	height: 150px;
	width: 150px;
	margin-top: 2px;
	margin-bottom: 0;
}
.image{
	position: absolute;
	z-index: 0;
/*	width: 75px;
	height: 75px;*/
	/*UPSCALE*/
	height: 150px;
	width: 150px;
}

.overlay{
	opacity: 0;
	z-index: 1;
}
/*UPSCALE*/
.submissions img{
	width: 150px;
	height: auto;
}

.submissions ul li:hover{
	/*border-bottom: 1px solid #c30c00;*/
	margin-top: 0;
	margin-bottom: 2px;
}

.overlay:hover{
	opacity: 1;
}

.credits ul li{
	list-style: none;
	color:#c30c00;
	margin-left: 1px;
	margin-top :5px;
}
.credits a{
	background-color: #c30c00;
	color:#000;
	padding: 4px 4px;
	text-decoration: none;
	font-weight: bold;
}

.credits a:hover{
	background-color: #000;
	color:#c30c00;
	padding: 2px 2px;
	border:2px solid #c30c00;
}
.credits ul li > *{
	display: inline-block;
	float-left;
}
.credits ul li p{
	margin:0;
}

.end{
	clear: both;
	background-color: #c30c00;
	color: #000;
	height:23px;
}

.end .row div{
	display: inline-block;
	float: left;
	padding: 4px 2px;
}
.end .box{
	float: right;
	width: 32px;
	height: auto;
	padding-bottom: 2px;
	margin-top:-2px;
}
.end .row a div{
	color:#000;
	font-weight: bold;
	text-decoration: underline;
	padding-top: 2px;
	border-top: 2px solid #000;
}

.end .row a div:hover{
	background-color: #000;
	color:#c30c00;
	text-decoration: none;
	border-bottom: 2px solid #000;
}

.end .box:hover{
	border-bottom: 3px solid #000;
}

/*.end{
	background-color: #c30c00;
	padding: 5px 5px 0px 5px;
	margin: 0 1px;
	color: #000;
}
.end p{
	display: inline-block;
	float: left;
	margin: 0;
}
.end a{
	font-weight: bold;
	color:#000;
}
.end a:hover{
	font-weight: bold;
	color:#c30c00;
	text-decoration: none;
	background-color: #000;
}
.end a.box{
	padding: 0px 2px 2px 2px;
	float: right;
}
a.box:hover{
	background-color: #d0d0d0;
}*/